.background-animation {
  animation: changeBackgroundColor 10s infinite;
}

@keyframes changeBackgroundColor {
  0% { background-color: #ff0000; } /* Red */
  25% { background-color: #00ff00; } /* Green */
  50% { background-color: #0000ff; } /* Blue */
  75% { background-color: #ffff00; } /* Yellow */
  100% { background-color: #ff00ff; } /* Magenta */
}